<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spider.dao.SongRangeDao">
   <sql id="tableColumns">
   		id,
		sort,
		song_name,
		song_time,
		singer,
		ranking
   </sql>
   
   <select id="querySongRangeList" resultType="spider.model.po.SongRangePo">
		SELECT
			<include refid="tableColumns"></include>
		FROM
			song_ranking

	</select>
	<insert id="batchInsert" parameterType="spider.model.po.SongRangePo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		song_ranking(sort,song_name,song_time,singer,ranking)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(
			#{index} + 1,
			#{item.songName},
			#{item.songTime},
			#{item.singer},
			#{item.ranking}
			)
		</foreach>
	</insert>
</mapper>
